/PersonProfileApp/nbproject/private/
/PersonProfileApp/build/
/PersonProfielApp/nbproject/private/
/PersonalProfile/nbproject/private/
/PersonalProfile/build/
/PersonalProfile_1/nbproject/private/
/Lab_2/nbproject/private/
/Lab_2/build/
/Lab_1/nbproject/private/
/Lab_1/build/
/Lab_3/nbproject/private/
/Lab_3/build/
/Assignment_2/nbproject/private/
/Assignment_2/build/
/Lab_4/nbproject/private/
/Lab_4/build/
