/PersonProfileApp/nbproject/private/
/PersonProfileApp/build/
/PersonProfielApp/nbproject/private/
/PersonalProfile/nbproject/private/
/PersonalProfile/build/
/PersonalProfile_1/nbproject/private/
/Lab_2/nbproject/private/
/Lab_2/build/
